@import "./normalize.css";

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

$font-light: "Montserrat Light", sans-serif;
$font-mont: "Montserrat Regular", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;
$font-sans: sans-serif;

$bg-main: #f0f0f0;
$bg-dark: #2b3a55;
$bg-light: #536a94;
$color-flavour: #678983;
$font-main: #f2e5e5;
$font-lighter: #f0f8ff;

@mixin bg-gradient {
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-color: $bg-dark;
    background-image: linear-gradient(180deg, $bg-dark 0, $bg-light 75px, $bg-dark 250px);
    background-position: 0 0;
}

@mixin transition {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

@mixin button-hover-bg-color {
    &:hover {
        opacity: 1;
        background-color: lighten($color-flavour, 5);
        color: $bg-main;
        @include transition();
    }
}

@mixin anchor-hover-bg-color {
    &:hover {
        opacity: 1;
        background-color: lighten($color-flavour, 5);
        color: $bg-main;
        @include transition();
    }
}

@mixin button-hover-color {
    &:hover {
        opacity: 1;
        color: lighten($color-flavour, 20);
        @include transition();
        cursor: pointer;
    }
}

@mixin anchor-hover-color {
    &:hover {
        opacity: 1;
        color: lighten($color-flavour, 20);
        @include transition();
        cursor: pointer;
    }
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin button-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

body {
    height: 100%;
    width: 100%;
    color: $font-lighter;
    font-family: $font-mont;
    @include bg-gradient();
}

.v-items {
    display: flex;
    flex-direction: column;
}

.h-items {
    display: flex;
    flex-direction: row;
}

.v-list {
    display: flex;
    align-items: center;
    list-style: none;
    li {
        display: block;
    }
}

.h-list {
    display: flex;
    align-items: center;
    li {
        display: inline-block;
    }
}

.c-gap-5 {
    column-gap: 5px;
}

.c-gap-10 {
    column-gap: 10px;
}

.r-gap-5 {
    row-gap: 5px;
}

.r-gap-10 {
    row-gap: 10px;
}

.t-margin-1 {
    margin-top: 1rem;
}

input {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

input[type="password"] {
    &:focus {
        font-family: Verdana;
        letter-spacing: 0.1em;
    }
}

button {
    background: none;
    color: $font-main;
    border: none;
    outline: inherit;
    opacity: 1;
    @include transition();
    @include button-hover-color();
}

.btn-regular {
    background: $bg-light;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 9px 10px;
}

.btn-function {
    display: block;
    width: 100%;
    border-radius: 3px;
    background: $color-flavour;
    padding: 10px 15px;
    font-size: 0.9rem;
    @include button-hover-bg-color();
}

.btn-edit {
    display: inline-block;
    border-radius: 3px;
    color: #15e29e;
    font-size: 1.3rem;
    @include button-hover-color();
}

.btn-remove {
    display: inline-block;
    border-radius: 3px;
    color: #e23e15;
    font-size: 1.3rem;
    @include button-hover-color();
}

a {
    color: $font-lighter;
    text-decoration: none;
    @include transition();
    @include anchor-hover-color();
}

.error {
    color: #e47433;
}
.success {
    color: #00d394;
}

.page-container {
    width: 100%;
    position: relative;
    min-height: 100vh;

    .loading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .select{
        color: $bg-dark;
    }

    .seperator {
        display: block;
        width: 100%;
        height: 7px;
        background-color: $color-flavour;
    }

    header {
        height: 107px;
        background-color: $bg-dark;
        z-index: 777;
        @include no-select();

        nav {
            height: 60px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo {
                display: inline-block;
                font-size: 1.8rem;
                font-family: $font-bold;
            }

            .search-box {
                align-items: center;
                border: 1px solid $color-flavour;
                border-radius: 3px;
                opacity: 0.2;
                @include transition();
                &:focus-within {
                    @include transition();
                    opacity: 1;
                }
                input {
                    height: 35px;
                    width: 350px;
                    border-radius: 3px 0 0 3px;
                }

                button {
                    padding: 0;
                    height: 35px;
                    width: 35px;
                    margin-left: -0.5px;
                    color: $bg-dark;
                    background-color: $bg-main;
                    border-radius: 0 3px 3px 0;
                    svg {
                        opacity: 0.6;
                        color: $font-light;
                        font-size: 1.2rem;
                        height: 35px;
                    }
                    &:hover {
                        background-color: darken($bg-main, 10);
                    }
                }
            }
        }

        nav.categories {
            height: 40px;
            background-color: $bg-dark;
            justify-content: center;
            overflow: hidden;
            box-shadow: 0 1px 2px #00000029;

            .content-wrapper {
                width: inherit;
            }

            li {
                &:after {
                    content: "";
                    opacity: 0.3;
                    border-right: 1px solid $color-flavour;
                }
            }

            li > a {
                padding: 0 10px 0 0;
                font-family: $font-light;
            }

            :last-child {
                &:after {
                    border-right: none;
                }
            }
        }
    }

    .section-header {
        @include bg-gradient();
        @include no-select();
        color: $bg-main;
        padding: 1rem;
        border-radius: 3px;
    }

    .section-forms {
        @include bg-gradient();
        min-height: 400px;
        color: $bg-main;
        padding: 1rem;
        border-radius: 3px;

        .addresses {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 48%;
                height: 116px;
                color: $bg-dark;
                border-radius: 3px;

                .address-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 75%;
                    width: 100%;
                }
                .functions {
                    display: inherit;
                    justify-content: flex-end;
                    align-self: flex-end;
                }
            }
            li.address {
                background-color: $bg-main;
            }
        }
    }

    .main {
        min-height: 500px;
        height: 100%;
        padding: 30px 0;
        background-color: $bg-main;

        .content {
            margin: 0 auto;
            color: $bg-dark;

            .multi {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
            .single {
                display: flex;
                flex-direction: row;
                width: 100%;
            }

            .settings {
                column-gap: 2rem;
            }
        }
    }

    footer {
        padding-bottom: 140px;
        background-color: $bg-light;

        .footer-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 auto;
            padding: 32px 0;

            .footer-nav {
                margin-bottom: 1em;
                ul {
                    margin-bottom: 0;
                    overflow: hidden;
                    li {
                        color: $font-main;
                        display: inline-block;
                        margin-right: 1em;
                        font-family: $font-bold;
                        font-size: 0.95rem;
                    }
                }
            }
            .socials {
                ul {
                    li {
                        display: inline-block;
                        margin-right: 0.6em;
                        a {
                            font-size: 1.2rem;
                            opacity: 0.5;
                            cursor: pointer;
                            @include transition();
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .copyright {
                display: block;
                width: 100%;
                opacity: 0.5;
                padding-top: 10px;
                font-family: $font-light;
            }
        }
    }
}

.modal-container {
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 23128;
    .modal-overlay {
        width: 100%;
        min-height: 100vh;
        cursor: auto;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==)
            repeat 0 0;
        opacity: 0.4;
    }

    .modal-content {
        position: absolute;
        background: $bg-light;
        border-radius: 5px;
        min-width: 400px;
        padding: 1.7rem 2.5rem;
        z-index: 9;

        .heading {
            font-size: 0.8rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            svg {
                font-size: 1.8rem;
                color: hsla(0, 0%, 100%, 0.5);
                &:hover {
                    color: $bg-main;
                    cursor: pointer;
                }
            }
        }
    }
}

.pager-container {
    display: block;
    width: 100%;
    .pager-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 15px;
        column-gap: 5px;
        .pager-item {
            .pager-button {
                align-self: center;
                border: none;
                background: $bg-main;
                padding: 10px 15px;
                border-radius: 5px;
                color: $font-main;
                svg {
                    font-size: 2rem;
                }
                @include transition();
                &:hover {
                    cursor: pointer;
                    color: $font-lighter;
                    background: $bg-light;
                    opacity: 0.7;
                }
            }
        }
    }
}

.dropdown-container {
    top: 0px;
    left: -6px;
    position: absolute;
    background-color: $bg-dark;
    border: 1px solid $color-flavour;
    border-radius: 3px;
    z-index: 777;
    .dropdown-content {
        ul > li {
            width: 85px;
            padding: 0;
            margin: 0;
            a {
                display: block;
                padding: 10px 0;
                font-size: 0.8rem;
                text-align: center;
                font-family: $font-light;
                @include anchor-hover-bg-color();
            }
        }
        .divider {
            border-top: 2px solid $color-flavour;
        }
    }
}

@media (min-width: 1041px) {
    .content-wrapper {
        width: 950px;
        .h-items {
            flex-direction: row;
            .multi {
                width: 50% !important;
            }
        }
    }

    .hide {
        display: flex !important;
    }
    .show {
        display: none !important;
    }
}

@media (max-width: 1040px) {
    .content-wrapper {
        width: 95%;
        .h-items {
            flex-direction: column;
            .multi {
                width: 100% !important;
            }
        }
    }
    .hide {
        display: flex !important;
    }
    .show {
        display: none !important;
    }
}

@media (max-width: 740px) {
    .content-wrapper {
        width: 88%;
        .h-items {
            flex-direction: column;
            .multi {
                width: 100% !important;
            }
        }
    }
    .hide {
        display: none !important;
    }
    .show {
        display: flex !important;
    }
}
