@import "./normalize.css";
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #f0f8ff;
  font-family: "Montserrat Regular", sans-serif;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-color: #2b3a55;
  background-image: linear-gradient(180deg, #2b3a55 0, #f0f0f0 250px, #536a94 251px);
  background-position: 0 0;
}

.v-items {
  display: flex;
  flex-direction: column;
}

.h-items {
  display: flex;
  flex-direction: row;
}

.v-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.v-list li {
  display: block;
}

.h-list {
  display: flex;
  align-items: center;
}
.h-list li {
  display: inline-block;
}

input {
  outline: none;
  padding: 10px;
  border: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
}
button:hover {
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  cursor: pointer;
}

a {
  color: #f0f8ff;
  text-decoration: none;
}

.page-container {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.page-container .loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-container header {
  height: 60px;
  position: relative;
  background-color: #2b3a55;
  z-index: 777;
}
.page-container header nav {
  height: 60px;
  margin: 0 auto;
  position: relative;
  width: 950px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.page-container header nav .logo {
  display: inline-block;
  font-size: 1.8rem;
}
.page-container header nav .search-box {
  display: flex;
  align-items: center;
  border: 1px solid #678983;
  border-radius: 5px;
}
.page-container header nav .search-box input {
  height: 35px;
  width: 350px;
  border-radius: 5px 0 0 5px;
}
.page-container header nav .search-box button {
  padding: 0;
  height: 35px;
  width: 35px;
  margin-left: -0.5px;
  color: #2b3a55;
  background-color: #f0f0f0;
  border-radius: 0 5px 5px 0;
}
.page-container header nav .search-box button svg {
  opacity: 0.6;
  color: "Montserrat Light", sans-serif;
  font-size: 1.3rem;
  height: 32px;
}
.page-container header nav .search-box button:hover {
  background-color: #d7d7d7;
}
.page-container .main {
  min-height: 500px;
  height: 100%;
  padding: 30px 0;
  background-color: #f0f0f0;
}
.page-container .main .content {
  margin: 0 auto;
  width: 950px;
}
.page-container .main .content .dashboard {
  width: 100%;
}
.page-container footer {
  padding-bottom: 140px;
  background-color: #536a94;
}
.page-container footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  padding: 32px 0;
}
.page-container footer .footer-wrapper .footer-nav {
  margin-bottom: 1em;
}
.page-container footer .footer-wrapper .footer-nav ul {
  margin-bottom: 0;
  overflow: hidden;
}
.page-container footer .footer-wrapper .footer-nav ul li {
  color: #f2e5e5;
  display: inline-block;
  margin-right: 1em;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 0.95rem;
}
.page-container footer .footer-wrapper .socials ul li {
  display: inline-block;
  margin-right: 0.6em;
}
.page-container footer .footer-wrapper .socials ul li a {
  font-size: 1.2rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
}
.page-container footer .footer-wrapper .socials ul li a:hover {
  opacity: 1;
}
.page-container footer .footer-wrapper .copyright {
  opacity: 0.5;
  font-family: "Montserrat Light", sans-serif;
}

.modal-container {
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 23128;
}
.modal-container .modal-overlay {
  width: 100%;
  min-height: 100vh;
  cursor: auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==) repeat 0 0;
  opacity: 0.4;
}
.modal-container .modal-content {
  position: absolute;
  background: #536a94;
  border-radius: 5px;
  min-width: 400px;
  padding: 1.7rem 2.5rem;
  z-index: 9;
}
.modal-container .modal-content .heading {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-container .modal-content .heading svg {
  font-size: 1.8rem;
  color: hsla(0deg, 0%, 100%, 0.5);
}
.modal-container .modal-content .heading svg:hover {
  color: #f0f0f0;
  cursor: pointer;
}

.pager-container {
  display: block;
  width: 100%;
}
.pager-container .pager-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 15px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.pager-container .pager-list .pager-item .pager-button {
  align-self: center;
  border: none;
  background: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
  color: #f2e5e5;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
}
.pager-container .pager-list .pager-item .pager-button svg {
  font-size: 2rem;
}
.pager-container .pager-list .pager-item .pager-button:hover {
  cursor: pointer;
  color: #f0f8ff;
  background: #536a94;
  opacity: 0.7;
}

.dropdown-container {
  display: none;
}

.dropdown-container.active {
  display: block;
  position: absolute;
  top: 0px;
  background-color: #536a94;
  z-index: 777;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}/*# sourceMappingURL=App.css.map */