@import "./normalize.css";
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #D8D8D8;
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  color: #D8D8D8;
  font-family: "Montserrat Regular", sans-serif;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-color: #291301;
  background-image: linear-gradient(180deg, #291301 0, #562B08 250px, #603601 251px);
  background-position: 0 0;
}

#root {
  height: 100%;
  width: 100%;
}

.page-container {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.page-container .loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-container header {
  height: 70px;
  position: relative;
  background-color: #291301;
  z-index: 777;
}
.page-container header nav {
  height: 70px;
  margin: 0 auto;
  position: relative;
  width: 950px;
}
.page-container header nav .logo {
  float: left;
  margin: 22px 0 0;
  height: 25px;
  position: relative;
  width: 273px;
  background-image: url(../img/logo/logo2n.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.page-container header nav .logo:hover {
  opacity: 1;
}
.page-container header nav .main-nav {
  position: absolute;
  right: 20px;
  top: 20px;
}
.page-container header nav .main-nav ul.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-container header nav .main-nav ul.nav-list li.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 5px 2px 5px 5px;
}
.page-container header nav .main-nav ul.nav-list li.user img {
  width: 24px;
  height: 24px;
  border-radius: 333px;
}
.page-container header nav .main-nav ul.nav-list li.user .drop-button {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  color: #D7A86E;
}
.page-container header nav .main-nav ul.nav-list li.user .drop-button:hover {
  cursor: pointer;
  color: #D8D8D8;
}
.page-container header nav .main-nav ul.nav-list li.user .drop-button .drop-icon {
  margin-left: 1px;
  font-size: 1rem;
  align-self: center;
}
.page-container header nav .main-nav ul.nav-list li.search {
  cursor: pointer;
}
.page-container header nav .main-nav ul.nav-list li,
.page-container header nav .main-nav ul.nav-list .search-button {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #D7A86E;
}
.page-container header nav .main-nav ul.nav-list li,
.page-container header nav .main-nav ul.nav-list .account-button {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #D7A86E;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.page-container header nav .main-nav ul.nav-list li:hover,
.page-container header nav .main-nav ul.nav-list .account-button:hover {
  color: #D8D8D8;
  font-weight: 600;
}
.page-container header nav .main-nav ul.nav-list .search-icon {
  padding-top: 5px;
  width: 1.2rem;
  height: 100%;
}
.page-container header nav .main-nav ul.nav-list .search-button {
  cursor: pointer;
  color: #D7A86E;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.page-container header nav .main-nav ul.nav-list .search-button:hover {
  opacity: 1;
  color: #D8D8D8;
}
.page-container header nav .main-nav ul.nav-list .alt-search-button {
  cursor: pointer;
  color: #D7A86E;
  border: none;
  background: none;
  padding: 7px 0;
  margin: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.page-container header nav .main-nav ul.nav-list .alt-search-button:hover {
  opacity: 1;
  color: #D8D8D8;
}
.page-container header nav .main-nav .search-box {
  width: 150px;
  height: 40px;
}
.page-container header nav .main-nav .search-box fieldset {
  border: 0;
}
.page-container header nav .main-nav .search-box fieldset .search {
  color: #D8D8D8;
  border-radius: 15px;
  font-size: 12px;
  padding: 8px 30px 8px 10px;
  width: 140px;
  background-color: hsla(0deg, 0%, 100%, 0.25);
  box-shadow: none;
  border: none;
  opacity: 0.6;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.page-container header nav .main-nav .search-box fieldset .search:focus {
  outline: none;
  opacity: 1;
  background-color: hsla(0deg, 0%, 100%, 0.5);
  color: white;
}
.page-container header nav .main-nav .search-box fieldset .search:focus + button {
  color: #562B08;
}
.page-container header nav .main-nav .search-box fieldset button {
  color: #D7A86E;
  width: 40px;
  position: absolute;
  top: 4px;
  right: -5px;
}
.page-container header nav .main-nav .search-box fieldset .cancel {
  top: 4px;
  right: 130px;
}
.page-container .main {
  min-height: 500px;
  height: 100%;
  padding: 30px 0;
  background: #291301 url(../img/bg/bg-main2.png) 0 -1px repeat-x;
}
.page-container .main .content {
  margin: 0 auto;
  width: 950px;
}
.page-container .main .content .dashboard {
  width: 100%;
}
.page-container .account-container {
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 23128;
}
.page-container .account-container .acc-overlay {
  width: 100%;
  min-height: 100vh;
  cursor: auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==) repeat 0 0;
  opacity: 0.8;
}
.page-container .account-container .account-content {
  position: absolute;
  background: #603601;
  border-radius: 5px;
  min-width: 400px;
  padding: 1.7rem 3rem;
  z-index: 9;
}
.page-container .account-container .account-content .heading {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.page-container .account-container .account-content .heading svg {
  font-size: 1.8rem;
  color: hsla(0deg, 0%, 100%, 0.5);
}
.page-container .account-container .account-content .heading svg:hover {
  color: #562B08;
  cursor: pointer;
}
.page-container .account-container .account-content .form {
  width: 100%;
  font-size: 0.9rem;
}
.page-container .account-container .account-content .form .form-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.page-container .account-container .account-content .form .form-group input {
  outline: none;
  border-radius: 5px;
  padding: 0.4rem 2rem;
  width: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.5);
}
.page-container .account-container .account-content .form .form-group input:focus {
  background-color: #D8D8D8;
}
.page-container .account-container .account-content .form .form-group input::-moz-placeholder {
  color: #D8D8D8;
}
.page-container .account-container .account-content .form .form-group input:-ms-input-placeholder {
  color: #D8D8D8;
}
.page-container .account-container .account-content .form .form-group input::placeholder {
  color: #D8D8D8;
}
.page-container .account-container .account-content .form .form-group button {
  background-color: hsla(0deg, 0%, 100%, 0.5);
  color: #D8D8D8;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: 0.5rem 2rem;
  width: 100%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.page-container .account-container .account-content .form .form-group button:hover {
  background-color: #291301;
  color: #D8D8D8;
}
.page-container .account-container .account-content .form .form-group .error {
  color: darkgoldenrod;
}
.page-container footer {
  padding-bottom: 140px;
  background-color: #603601;
}
.page-container footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  padding: 32px 0;
}
.page-container footer .footer-wrapper .footer-nav {
  margin-bottom: 1em;
}
.page-container footer .footer-wrapper .footer-nav ul {
  margin-bottom: 0;
  overflow: hidden;
}
.page-container footer .footer-wrapper .footer-nav ul li {
  color: #D7A86E;
  display: inline-block;
  margin-right: 1em;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 0.95rem;
}
.page-container footer .footer-wrapper .socials ul li {
  display: inline-block;
  margin-right: 0.6em;
}
.page-container footer .footer-wrapper .socials ul li a {
  font-size: 1.2rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.page-container footer .footer-wrapper .socials ul li a:hover {
  opacity: 1;
}
.page-container footer .footer-wrapper .copyright {
  opacity: 0.5;
  font-family: "Montserrat Light", sans-serif;
}

.modal-container {
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 23128;
}
.modal-container .modal-overlay {
  width: 100%;
  min-height: 100vh;
  cursor: auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==) repeat 0 0;
  opacity: 0.4;
}
.modal-container .modal-content {
  position: absolute;
  background: #603601;
  border-radius: 5px;
  min-width: 400px;
  padding: 1.7rem 2.5rem;
  z-index: 9;
}
.modal-container .modal-content .heading {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-container .modal-content .heading svg {
  font-size: 1.8rem;
  color: hsla(0deg, 0%, 100%, 0.5);
}
.modal-container .modal-content .heading svg:hover {
  color: #562B08;
  cursor: pointer;
}
.modal-container .modal-content .search-form {
  width: 100%;
  font-size: 0.9rem;
}
.modal-container .modal-content .search-form .form-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.modal-container .modal-content .search-form .form-group input {
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.4rem 1rem;
  width: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.5);
  font-size: 0.85rem;
}
.modal-container .modal-content .search-form .form-group input:focus {
  background-color: #D8D8D8;
}
.modal-container .modal-content .search-form .form-group input::-moz-placeholder {
  color: #D8D8D8;
}
.modal-container .modal-content .search-form .form-group input:-ms-input-placeholder {
  color: #D8D8D8;
}
.modal-container .modal-content .search-form .form-group input::placeholder {
  color: #D8D8D8;
}
.modal-container .modal-content .search-form .form-group button {
  background-color: hsla(0deg, 0%, 100%, 0.5);
  color: #D8D8D8;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  padding: 0.5rem 2rem;
  width: 100%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.modal-container .modal-content .search-form .form-group button:hover {
  background-color: #291301;
  color: #D8D8D8;
}
.modal-container .modal-content .search-form .form-group .error {
  color: darkgoldenrod;
}
.modal-container .modal-content .search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #D7A86E;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #562B08;
  width: 320px;
}
.modal-container .modal-content .search-results .result-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  max-height: 300px;
}
.modal-container .modal-content .search-results .result-list li {
  font-size: 0.8rem;
  padding: 7px 5px;
  cursor: pointer;
}
.modal-container .modal-content .search-results .result-list li:hover {
  background-color: #603601;
}

.pager-container {
  display: block;
  width: 100%;
}
.pager-container .pager-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 15px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.pager-container .pager-list .pager-item .pager-button {
  align-self: center;
  border: none;
  background: #562B08;
  padding: 10px 15px;
  border-radius: 5px;
  color: #D7A86E;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.pager-container .pager-list .pager-item .pager-button svg {
  font-size: 2rem;
}
.pager-container .pager-list .pager-item .pager-button:hover {
  cursor: pointer;
  color: #D8D8D8;
  background: #603601;
  opacity: 0.7;
}

.dropdown-container {
  display: none;
}

.dropdown-container.active {
  display: block;
  position: absolute;
  top: 0px;
  background-color: #603601;
  z-index: 777;
  border: 1px solid #562B08;
  border-radius: 2px;
}
.dropdown-container.active .dropdown-content .heading {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border-bottom: 2px solid #562B08;
  padding: 5px 2px 5px 5px;
}
.dropdown-container.active .dropdown-content .heading img {
  width: 24px;
  height: 24px;
  border-radius: 333px;
}
.dropdown-container.active .dropdown-content .heading button {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  color: #D7A86E;
}
.dropdown-container.active .dropdown-content .heading button:hover {
  cursor: pointer;
  color: #D8D8D8;
}
.dropdown-container.active .dropdown-content .heading button .drop-icon {
  margin-left: 1px;
  font-size: 1rem;
  align-self: center;
}
.dropdown-container.active .dropdown-content .dropdown {
  width: 100%;
  margin: 7px 0;
}
.dropdown-container.active .dropdown-content .dropdown .drop-list .drop-item {
  padding: 7px 10px;
  font-size: 0.7rem;
  margin: 0;
}
.dropdown-container.active .dropdown-content .dropdown .drop-list .drop-item:hover {
  background-color: #562B08;
}
.dropdown-container.active .dropdown-content .dropdown .drop-list .drop-item a {
  display: block;
  color: #D7A86E;
  text-transform: none;
}
.dropdown-container.active .dropdown-content .dropdown .drop-list .divider {
  border-top: 2px solid #562B08;
}/*# sourceMappingURL=App.css.map */